<div class="large_post_box">
	<img class="big_image" src="<%= @micro_post.img_url%>">
	<p><%= @micro_post.words%></p>
	<p class="post_stat"><%= @micro_post.author.name %> - <%= @micro_post.created_on%> | Edit</p>
	<p class="post_stat">Tags: </p>
		<% @micro_post.tags.each do |tag|%>
			<%=tag.name%>
		<%end%>
</div>

<div class="author_post_box">
	<img class="thumbnail" src="<%= @micro_post.author.img_url%>">
	<p><%= @micro_post.author.name%></p>
	<p class="post_stat"><%= @micro_post.author.bio %> - <%= @micro_post.author.location%> | Edit</p>
</div>